
/*Saude e Nutricao*/

#body_one {
    margin: 0;
    background-color: antiquewhite;
    min-height: 100vh;
}

#info-header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 100%;
    z-index: 1000;
}

#list-options {
    display: flex;
    gap: 40px;
}

#logo {
    left: 0;
    height: 100%;
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 55px;
}

#optionsCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

.button-head, .button-header {
    background-color: transparent;
    font: bold clamp(14px, 5vw, 20px) "Times New Roman";
    height: 55%;
    transition: 0.2s ease;
    border: none;
    cursor: pointer;
}

.button-head:hover, .button-header:hover {
    margin-bottom: 2px;
    filter: contrast(70%);
    color: purple;
    text-decoration: underline;
}

#home, #little-car {
    max-height: 50px;
}

#produtos {
    height: 100vh;
    background-color: black;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5%;

}

.casedoProduto {
    height: 380px;
    width: 28%;
    background: white;
}

/* Menu */
