/*Saude e Nutricao*/

#body_one {
    margin: 0;
    background-color: antiquewhite;
    height: 200vh;
}

#info-header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    background-color: rgb(255, 255, 255);
    height: 80px;
}

#logo {
    left: 0;
    height: 100%;
}

form {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 55px;
    margin-left: 20px;
}

.button-header {
    background-color: transparent;
    font: bold 18pt "Times New Roman";
    height: 55%;
    transition: 0.3s ease-in-out;
    border: none;
    cursor: pointer;
}

.button-header:hover {
    margin-bottom: 2px;
    filter: contrast(70%);
}

/* Menu */

#body-two {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh; /* fit content */
    background-color: bisque;
    overflow-x: hidden;
}

#menu-header {
    background-color: white;
    height: 90px;
    width: 100%;
    position: sticky;
    top: 0;
}

#home {
    height: 50px;
}

#little-car {
    height: 55px;
}

#case-master {
    display: flex;
    position: relative;
    height: 40vh;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
    gap: 15px;
}

.product {
    width: 40%;
    background-color: white;
    height: 60%;
    border-radius: 0 20px;
}